<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCABccLVmGfFF3p9l21qCYgYCUdhV7cXTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>160218984374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tonewood.com.tonewood</string>
	<key>PROJECT_ID</key>
	<string>tonewood-ea5c7</string>
	<key>STORAGE_BUCKET</key>
	<string>tonewood-ea5c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160218984374:ios:30a2a277a5febc2da69b17</string>
</dict>
</plist>