<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
       <key>BUNDLE_ID</key>
       <string>tonewood.com.tonewood</string>
       <key>CADisableMinimumFrameDurationOnPhone</key>
       <true/>
       <key>CFBundleDevelopmentRegion</key>
       <string>$(DEVELOPMENT_LANGUAGE)</string>
       <key>CFBundleDisplayName</key>
       <string>Tonewood</string>
       <key>CFBundleExecutable</key>
       <string>$(EXECUTABLE_NAME)</string>
       <key>CFBundleIdentifier</key>
       <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
       <key>CFBundleInfoDictionaryVersion</key>
       <string>6.0</string>
       <key>CFBundleName</key>
       <string>tonewood</string>
       <key>CFBundlePackageType</key>
       <string>APPL</string>
       <key>CFBundleShortVersionString</key>
       <string>$(FLUTTER_BUILD_NAME)</string>
       <key>CFBundleSignature</key>
       <string>????</string>
       <key>CFBundleVersion</key>
       <string>$(FLUTTER_BUILD_NUMBER)</string>
       <key>LSRequiresIPhoneOS</key>
       <true/>
       <key>LSSupportsOpeningDocumentsInPlace</key>
       <true/>

       <key>NSBluetoothAlwaysUsageDescription</key>
       <string>Bluetooth wird benötigt, um die Verbindung zu mobilen Etikettendruckern für die Holzkennzeichnung herzustellen.</string>
       <key>NSBluetoothPeripheralUsageDescription</key>
       <string>Bluetooth wird benötigt, um die Verbindung zu mobilen Etikettendruckern für die Holzkennzeichnung herzustellen.</string>

       <key>NSBonjourServices</key>
       <array>
          <string>_ipp._tcp</string>
          <string>_printer._tcp</string>
          <string>_pdl-datastream._tcp</string>
       </array>

       <key>NSCameraUsageDescription</key>
       <string>Die Kamera wird benötigt, um Barcodes auf den Holzprodukten zu scannen und Fotos für die interne Qualitätsdokumentation zu erstellen.</string>

       <key>NSDocumentsFolderUsageDescription</key>
       <string>Die App benötigt Zugriff auf den Dokumentenordner, um Lieferscheine und Holzlisten lokal zu speichern.</string>

       <key>NSLocalNetworkUsageDescription</key>
       <string>Der Zugriff auf das lokale Netzwerk wird für die Kommunikation mit Netzwerkdruckern benötigt.</string>

       <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
       <string>Der Standort wird verwendet, um den Lagerort der Holzbestände präzise zu erfassen.</string>
       <key>NSLocationAlwaysUsageDescription</key>
       <string>Der Standort wird verwendet, um den Lagerort der Holzbestände präzise zu erfassen.</string>
       <key>NSLocationWhenInUseUsageDescription</key>
       <string>Der Standort wird verwendet, um den Lagerort der Holzbestände präzise zu erfassen.</string>

       <key>NSPhotoLibraryAddUsageDescription</key>
       <string>Ermöglicht es, generierte Dokumente oder Fotos direkt in der Mediathek zu speichern.</string>
       <key>NSPhotoLibraryUsageDescription</key>
       <string>Der Zugriff auf die Fotobibliothek ist erforderlich, um bereits aufgenommene Bilder von Holzlieferungen hochzuladen.</string>

       <key>UIApplicationSupportsIndirectInputEvents</key>
       <true/>
       <key>UIBackgroundModes</key>
       <array>
          <string>fetch</string>
          <string>remote-notification</string>
       </array>
       <key>UIFileSharingEnabled</key>
       <true/>
       <key>UILaunchStoryboardName</key>
       <string>LaunchScreen</string>
       <key>UIMainStoryboardFile</key>
       <string>Main</string>

       <key>UISupportedExternalAccessoryProtocols</key>
       <array>
          <string>com.brother.ptcbp</string>
          <string>com.issc.datapath</string>
       </array>

       <key>UISupportedInterfaceOrientations</key>
       <array>
          <string>UIInterfaceOrientationPortrait</string>
          <string>UIInterfaceOrientationLandscapeLeft</string>
          <string>UIInterfaceOrientationLandscapeRight</string>
       </array>
       <key>UISupportedInterfaceOrientations~ipad</key>
       <array>
          <string>UIInterfaceOrientationPortrait</string>
          <string>UIInterfaceOrientationPortraitUpsideDown</string>
          <string>UIInterfaceOrientationLandscapeLeft</string>
          <string>UIInterfaceOrientationLandscapeRight</string>
       </array>
       <key>UIStatusBarHidden</key>
       <true/>
       <key>UIViewControllerBasedStatusBarAppearance</key>
       <false/>
    </dict>
</plist>